<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test_pop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54E4A3EE1C1A9A7E0068F2DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54E4A4071C1A9A7E0068F2DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54E4A4121C1A9A7E0068F2DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
